# Ignore venv
cov_env/

# no notebookcheckpoints on GitHub
.ipynb_checkpoints

# exclude superfluous checkpoints
capstone/
optuna_test/

# exclude lightning logs
lightning_logs/

# don't commit models
*.pkl

#ignore wandb logd
wandb/

#ignore cleaned data
cleaned



# ignore caches
.mypy_cache/
.pytest_cache/
__pycache__/
